:root{
    --font: #363636;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 4em;
    color:var(--font);
    text-indent: -5px;
}
.contact-page{
    min-height:100vh;
}
.contact-container {
    width:70%;
    min-width:400px;
    margin: 0 auto;
    padding:40px 10px;
}
.contact-container > p:nth-of-type(1){
    font-size:1.3em;
    margin: 50px 0px;
    color:var(--font);
}
.contact-form-container{
    min-width:400px;
}
.form-input-container{
    padding:5px 0px;
    margin: 22px 0px;
    border-bottom:2px solid gainsboro;
    width:85%;
    min-width:380px;
}
.form-input-container > input{
    padding:10px 10px;
    font-size:1.2em;
    border:none;
    outline:none;
    width:100%;
    margin-bottom:-5px;
    height:50px;
}

input:placeholder-shown, textarea:placeholder-shown{
    background-color: white !important;
}
input:valid{
    background-color: rgba(196, 224, 196, 0.692);
    /* margin-bottom:-5px; */
}
input:invalid{
    background-color: rgba(224, 196, 196, 0.692);
}
textarea:valid{
    background-color: rgba(196, 224, 196, 0.692);
    margin-bottom:-9px;
}

.form-text-container{
    padding:5px 0px;
    margin: 28px 0px;
    border-bottom:2px solid gainsboro;
    width:85%;
    min-width:380px;
}
textarea{
    resize: none;
    outline: none;
    border:none;
    height:200px;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.2em;
    padding:10px 10px;
    margin-bottom:-9px;
}

.form-button-wrapper{
    width:85%;
    min-width:380px;
    display:flex;
    justify-content: flex-end;
    padding-top:10px;
}
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }
  button.submit-button {
    width: 12.5rem;
    height: auto;
  }
  button.submit-button .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1.25);
    position: relative;
    margin: 0;
    width: 2.5rem;
    height: 2.5rem;
    background:var(--font);
    border-radius: 1.625rem;
  }
  button.submit-button .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  button.submit-button .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.65rem;
    width: 0.90rem;
    height: 0.065rem;
    background: none;
  }
  button.submit-button .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.525rem;
    height: 0.525rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  button.submit-button .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.65rem;
    color: var(--font);
    font-weight: 700;
    line-height: 1.08;
    font-size:1em;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
  }
  button:hover .circle {
    width: 100%;
  }
  button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(0.75rem, 0);
  }
  button:hover .button-text {
    color: #fff;
  }

  #contact-page{
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

  @keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

  /* TABLETS PORTRAIT */
@media screen and (max-width: 767px) {
    h1{
        font-size: 3.5em;
    }
}
