:root{
    --font: #363636;
}
header{
   background-color: white;
}
.header-container{
    width:90%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
}

.logo > h1{
    font-size:2.25em;
    cursor: pointer;
    text-decoration: none;
}
navbar{
    min-width:300px;
    display: flex;
    justify-content: space-between;
}
navbar > a{
   display: inline-block;
   padding:30px 0px;
   color:var(--font);
   font-size:1.25em;
   cursor:pointer;
   /* font-weight: 600; */
   text-decoration: none;
   color:gray;
   transition: 0.3s ease;
   /* text-transform: uppercase; */
}
navbar > a:hover{
    color:var(--font);
}
#menu{
    font-size:1.65em;
    color:var(--font);
    padding:18px 0px;
    display:none;
    cursor:pointer;
}
#sideNav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center; 
}
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 1.40em;
    font-weight: bold;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
.sidenav a:hover{
    color:white;
}

.sidenav .closebtn {
    position: absolute;
    top: 27px;
    right: 25px;
    width:18px;
    margin-left: 50px;
    color:white;
    font-weight: lighter;
    cursor:pointer;
  }
/* TABLETS PORTRAIT */
@media screen and (max-width: 767px) {
    .header-container{
        width:90%;
        align-items: center;
    }
    navbar{
        justify-content: flex-end;
    }
    #menu{
        display:block;
    }
    navbar > a {
        display:none;
    }
}
@media screen and (max-width: 420px) {
    #menu{
        display:block;
        font-size:2.5em !important;
        margin-top:-9px;
    }
}

