:root{
    --font: #363636;
}
header{
   background-color: white;
}
.header-container{
    width:95%;
    margin: 0 auto;
    display:flex;
    justify-content: flex-end;
}
navbar > a{
   display: inline-block;
   margin:0px 20px;
   padding:20px 0px;
   color:var(--font);
   font-size:0.80em;
   cursor:pointer;
   font-weight: 600;
   text-decoration: none;
   color:gray;
   text-transform: uppercase;
}
navbar > a:hover{
    color:var(--font);
}
#menu-bars{
    color:var(--font);
    display: none;
    cursor:pointer;
    font-size:1.20em;
    margin-top:-10px;
}

/* TABLETS PORTRAIT */
@media screen and (max-width: 767px) {
    .header-container{
        width:100%;
        justify-content: center;
        display:flex;
    }
}
