:root{
    --font: #363636;
}

footer{
    /* position:absolute;
    bottom:0;
    left:0; */
    text-align: center;
    width:100%;
    padding:20px 0px;
    z-index:1000;
    /* border:1px solid red; */
}
.footer-container{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:40%;
    min-width:400px;
    margin: 0 auto;
}
.copyright-container > p{
    color:var(--font);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
}
